body {
  padding: 0px;
  background-color: #181818;
}

.joystick {
  position: relative;
  width: 230px;
  height: 230px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%; 
}

.joystick .inner_circle {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%; 
  background-color: rgba(255, 255, 255, 0.2);
}

.joystick .handle {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid black;
  border-radius: 5px;
}

#camera {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform:rotate(180deg);
  margin-top: 30px;
  max-height: 100%;
}


@media screen and (min-width: 660px) {
  #camera {
    margin-top: 0;
  }
}

@media screen and (min-width: 920px) {
  #camera {
    width: 920px;
    height: 100%;
    margin: 0px auto;
  }
}

#motor_stick {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

#pan_tilt_stick {
  position: fixed;
  top: 200px;
  left: 400px;
}

#lblHost {
  position: absolute;
  top: 0px;
  width: 100px;
  margin-left: -50px;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: none;
  text-shadow: none;
  color: white;
  border: none;
  border-radius: 0;
  text-align: center;
  font-size: 13px;
  padding: 3px;
  border-radius: 0px 0px 5px 5px;
}

#btnShutdown {
  position: absolute;
  top: 0px;
  width: 100px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: none;
  text-shadow: none;
  color: #d0d0d0;
  border: none;
  border-radius: 0px 0px 0px 5px;
}
